.update_container {
    background-color: rgb(235, 235, 235);
    height: 100vh;
    padding: 3.5% 0% 0% 0%;
  }
  .update {
    display: flex;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgb(197, 197, 197);
  }
  .update_Image {
    width: 50%;
  }
  .update_Image img {
    width: 100%;
  }
  .update_form {
    padding-top: 3%;
    background-color: white;
    text-align: center;
    width: 50%;
  }
  .update_form form {
    /* padding-bottom: 80%; */
    width: 70%;
    display: flex;
    margin: 5% auto 0% auto;
    flex-direction: column;
  }
  .update_form input {
    padding: 4% 0% 4% 3%;
    margin-top: 2%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(199, 199, 199);
  }
  hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.1s;
    margin-top: 20px;
  }
  .update_form h5 {
    text-align: right;
    top: 20%;
    margin-right: 70px;
  }
  .update_form h3 {
    text-align: left;
    margin-left: 90px;
  }
  .update_form form {
    text-align: left;
    margin-right: 60px;
    margin-bottom: 1px;
  }
  .update_form2 hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.1s;
    margin-top: 20px;
  }
  .line {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.1s;
    margin-top: 20px;
  }
  .update_form h6 {
    text-align: right;
    margin-right: 90%;
    color: #55229e;
    padding-top: 10px;
  }
  .update_form button{
    background-color: #55229e;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;

  }
  
  /* .f_one {
      font-size: 14px;
      padding: 2% 0%;
      margin: 0 auto;
      width: 70%;
      display: flex;
      text-align: initial;
      align-items: center;,
    }
    .f_one form {
      display: inline-block;
    }
    .f_one form input {
      margin-right: 5px;
    }
    .f_one p {
      padding-top: 7%;
      text-align: right;
      width: 80%;
    }
    .login_form button {
      background-color: #55229E;
      border: none;
      color: white;
      border-radius: 5px;
      width: 70%;
      padding: 4% 0%;
    }
    .login_form_signin {
      font-size: 12px;
      padding: 2% 0%;
      display: flex;
      width: 70%;
      margin: 0 auto;
      justify-content: space-between;
    }
     */
  